html {
    height: 100%;
    min-height: 100%;    
}
body {
    margin:0;
    padding:0;
    height:100%;
	min-height:100%;
	font-family: "GothamBook","Arial","sans-serif";
    display: flex;
    flex-direction: column;
}
 
.main .container {
  padding-top: 70px; 
    padding-bottom: 50px;
 }
 
.main {
    text-align: center;
    color: #f8f8f8;
	background: url(img/EJ.jpg) no-repeat top center;
    background-size: cover;
	clear: both;	
}

.main-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 10%;
	
}

.main-message > h1 {
    margin: 0;
    font-size: 5em;
}

.main-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.main-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-weight: bold;
}

@media(max-width: 800px) {
    .main-message {
		padding-top: 50%;
    }

    .main-message > h1 {
        font-size: 4em;
    }

    .main-social-buttons{
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }


    .main-divider {
        width: 100%;
    }
	
}

@media (min-width:1600px) {
	.main-message {
		padding-top: 42%;
		padding-bottom: 5%
    }

}


@media (min-width:760px) and (max-width:991px) {
.footer-more .container {
		margin-left: 0px;
    }
.main-message > h1 {
        font-size: 5em;
    }	

.main-message > h3 {
        font-size: 30px;
    }
	
}

.footer-more {
  background-color: #f7f7f7;
}

.footer-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 3%;
}

.footer-more p{
  font-family: 'Shift', sans-serif;
  
}

.footer-more a {
  color: #00b0ff;

}

.footer-more  .col-md-4 {
	padding-top: 2%;
	padding-bottom:2%;
}



.main-content {  
color: black; 
padding-right: 15px;
padding-left: 15px;
        
}

.panel-group {
padding: 25px;
    
}

.panel-heading a  {
font-size: 1.5em;
color: #777;
letter-spacing: 2px;
}

.panel-body {
    margin: 20px;
    border: none;
}

.panel-body li {
   text-align: left;
   font-size: 12px;
   line-height: 1.8em;
   margin-top:10px;
}


 .content {
    text-align: center;
    color: #f8f8f8;
	background: url(img/bears.jpg) no-repeat top center;
    background-size: 100% 1250px;
	clear: both;
     flex-grow: 1;
        }

@media (min-width:992px) and (max-width:1400px) {
    .content {

   background-size: 100% 1000px;
    
}
}
		
		
@media (min-width:760px) and (max-width:991px) {
    .content {

   background-size: 2000px 1700px;
    
}
}


@media (max-width:760px) {

.content {

   background-size: 2000px 2050px;
    
}

.panel-group {
    padding: 0px;
    padding-top: 25px;
}

}

 .content h2 {
    color: #f8f8f8;
}


.main-header-message {
    position: relative;
	padding-top: 35px;
	
}

.main-header-message > h1 {
    margin: 0;
    font-size: 5em;
	margin-bottom: 10px;
}


.main-header-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-weight: bold;
}

@media(max-width: 800px) {
  

    .main-header-message > h1 {
        font-size: 4em;
    }
}

@media (min-width:1600px) {
	.main-header-message {
		padding-bottom: 5%
    }

}

@media (min-width:760px) and (max-width:991px) {

.main-header-message > h1 {
        font-size: 5em;
    }	

.main-header-message > h3 {
        font-size: 30px;
    }
	
}

#rsvp-form {
background-color: rgba(245,245,245, 0.8);
padding: 15px;
border-radius: 6px;
}

.panel-group .panel {
border-radius: 6px;
background-color: rgba(245,245,245, 0.9);
}

.form-control{
width:70%;
margin: auto;

}

@media (max-width:600px) {

.form-control{
width:95%;
}
}

.form-check-label{
font-weight: 100;}

h5 {
font-weight: 200;
}

.form-check{
margin-bottom: 10px;
}

form .btn-default { 
	background-color: coral;
    color: white;
	border-color: transparent;
	}
	
form .btn-default:hover, .btn-default[disabled]:hover {
    color: white;
    background-color: coral;
    opacity: 0.8;
    border-color: transparent;

}	

form div.btn { 
padding: 0px;
}

#attendance .btn
{
width: 33%;
padding: 10px;
background-color: darkcyan;
border-color: darkgrey;
}



#attendance .btn-primary.active
{
background-color: darkslategray;
}

#attendance
{
width: 90%;
 margin: 15px;


}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px;
}

.row{
    margin-left: 0px;
    margin-right:0px;
}

#RSVP {
    color: #777;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.6);
    margin-top: 10px;
    margin-bottom: 25px;
}

#Invitees  {
    visibility: hidden;
}